<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order a Pizza</title>
</head>
<body>
    <h1>
        Order a Pizza
    </h1>


    <form action = "http://127.0.0.1:5000/order" method = "post">
        <label for="name">Name:</label>
        <input type="text" name="name" id="name">

        <label for="street">Street:</label>
        <input type="text" name="street" id="street">

        <label for="house_number">House Number</label>
        <input type="text" name="house_number" id="house_number">

        <label for="zip_code">Zip Code</label>
        <input type="text" name="zip_code" id="zip_code">

        <label for="city">City</label>
        <input type="text" name="city" id="city">

        <label for="pizza">Pizza</label>
        <input type="text" name="pizza" id="pizza">

        <label for="amount">Amoutn</label>
        <input type="text" name="amount" id="amount">

        <label for="extra_toppings"></label>
        
        
        <p><input type = "submit" value = "submit" /></p>
     </form> 
   
</body>
</html>