<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Order a Pizza</title>
</head>
<body>
    <center>
        <h1 class="font-medium leading-tight text-5xl mt-0 mb-2 text-purple-600">
            Order a Pizza
        </h1>
    </center>

  
    <center>

        <form action = "http://127.0.0.1:5000/order" method = "post" class="w-full max-w-lg">
            <label for="street">Name:</label>
            <input required class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" type="text" name="name" id="name">

            <label for="street">Street:</label>
            <input required class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" type="text" name="street" id="street">

            <label for="house_number">House Number:</label>
            <input required class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" type="text" name="house_number" id="house_number">

            <label for="zip_code">Zip Code:</label>
            <input required class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" type="text" name="zip_code" id="zip_code">

            <label for="city">City:</label>
            <input required class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" type="text" name="city" id="city">

            <label for="pizza">Pizza:</label>
            <input required class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" type="text" name="pizza" id="pizza">

            <label for="amount">Amount:</label>
            <input required class="appearance-none block w-full bg-gray-200 text-gray-700 border border-red-500 rounded py-3 px-4 mb-3 leading-tight focus:outline-none focus:bg-white" type="number" name="amount" id="amount">

            <label for="extra_toppings">Select Extra Toppings:</label>

            <br><br>

            <label for="extra_toppings">Gorgonzola</label>
            <input type="checkbox" id="toppings" name="toppings" value="Gorgonzola">

            <label for="extra_toppings">Mozzarella</label>
            <input type="checkbox" id="toppings" name="toppings" value="Mozzarella">
            
            <label for="extra_toppings">Tomato</label>
            <input type="checkbox" id="toppings" name="toppings" value="Tomato">

            <label for="extra_toppings">Mushroom</label>
            <input type="checkbox" id="toppings" name="toppings" value="Mushroom">

            <br><br>

            <label for="extra_toppings">Salami</label>
            <input type="checkbox" id="toppings" name="toppings" value="Salami">

            <label for="extra_toppings">Chicken</label>
            <input type="checkbox" id="toppings" name="toppings" value="Chicken">

            <label for="extra_toppings">Cheddar</label>
            <input type="checkbox" id="toppings" name="toppings" value="Cheddar">

            <label for="extra_toppings">Raclette</label>
            <input type="checkbox" id="toppings" name="toppings" value="Raclette">
            

            <br><br>
            <input class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" type = "submit" value = "submit" />
        </form> 
    </center>
</body>
</html>